@import '@colors';
@import '@vars';

.emailCaptureForm {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 90;
  font-family: 'Neue Haas Medium';
  input,
  button {
    border-radius: 5px;
    border: none;
    padding: 6px 12px;
  }
  input {
    width: 90%;
    margin-right: 15px;
    border: 2px solid $darkGreen;
    &::placeholder {
      font-size: 14px;
    }
  }
  button {
    background-color: $darkGreen;
    color: $white;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: $beige;
      color: $darkGreen;
      transition: 0.2s;
    }
  }
}
