@import '@colors';
@import '@vars';

.emailCaptureForm {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 90;
  background-color: $beige;
  padding: 20px 0;
  &.homePageEmailCapture {
    background-color: rgba(0, 0, 0, 0);
  }
  &.takeoverEmailCapture {
    position: absolute;
    height: 80px;
    bottom: -80px;
    padding: 0 20px;
    align-items: center;
  }
  input,
  button {
    border-radius: 2px;
    border: none;
    padding: 6px 12px;
    font-size: 18px;
  }
  input {
    width: 90%;
    margin-right: 15px;
    border: 2px solid $darkGreen;
  }
  button {
    background-color: $darkGreen;
    color: $white;
    cursor: pointer;
  }
}

.submittedText {
  z-index: 100;
  font-size: 24px;
  font-family: 'Neue Haas Bold';
  &.homePageEmailCapture {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 18px;
    color: $beige;
    font-family: 'Neue Haas Bold';
  }
}
