@import '@vars';
@import '@mixins';

.scheduleWrapper {
  position: relative;
  @include wrapper;
  &::after {
    content: '';
    display: block;
    height: 200px;
    width: 1px;
    background-color: black;
    margin: 50px auto;
  }
}

.scheduleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.scheduleHeading {
  text-align: center;
}

.scheduleRow {
  font-size: 13px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scheduleDate {
  text-transform: uppercase;
  font-size: 20px;
  margin: 50px 0 30px 130px;
}

.scheduleTime {
  // width: 160px;
  text-align: right;
  margin-right: 35px;
}

.scheduleActivity {
  // width: 210px;
  text-transform: uppercase;
}

.thirdColumn {
  margin: 0 15px;
}

.lineBreak {
  content: '';
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 1px;
  background-color: black;
  margin: 20px 0;
}

.greenSun {
  position: absolute;
  width: 100px;
}
.greenSun:nth-child(odd) {
  top: 100px;
  left: -90px;
}
.greenSun:nth-child(even) {
  top: 300px;
  right: -90px;
}

@media screen and (max-width: 1250px) {
  .scheduleRow {
    font-size: 12px;
  }
  .scheduleTime {
    margin-right: 20px;
  }
}

@media (max-width: $tablet) {
  .scheduleContainer,
  .scheduleRow {
    display: flex;
    flex-direction: column;
  }
  .scheduleWrapper {
    overflow: hidden;
    .heading {
      margin-bottom: 50px;
    }
    .row {
      flex-direction: column;
    }
    .thirdColumn {
      position: relative;
      &::after {
        content: '';
        position: relative;
        left: 50%;
        display: block;
        height: 80px;
        width: 1px;
        background-color: black;
        margin: 30px 0;
      }
      &:last-of-type:after {
        display: none;
      }
    }
    .scheduleRow {
      flex-direction: row;
      justify-content: center;
      position: relative;
      font-size: 14px;
    }
    .scheduleActivity,
    .scheduleTime {
      width: 50%;
    }
    .scheduleDate {
      margin-left: 0;
      margin-top: 0;
      text-align: center;
    }
  }
  .greenSun:nth-child(odd) {
    left: -80px;
  }
  .greenSun:nth-child(even) {
    right: -80px;
  }
}
