@import '@variables';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  max-width: 1280px;
  margin: 0 auto;
}

.tileContainer {
  position: relative;
  margin: 0 10px;
  height: 320px;
  animation: fadeIn 0.5s linear forwards;
  margin-bottom: 20px;
  // For flip card effect
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  background-color: (rgba(black, 0.4));
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: $fontPrimary;
  font-size: 32px;
  color: $white;
  margin: 0 10px;
  position: relative;
  z-index: 2;
  text-align: center;
}

// Flip Card Effects

/* This container is needed to position the front and back side */
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.tileContainer:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipCardBack {
  transform: rotateY(180deg);
  z-index: 2;
  font-family: $fontSecondary;
  font-size: 20px;
}

@media screen and (max-width: $tablet) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $mobile) {
  .container {
    grid-template-columns: 1fr;
  }
  .tileContainer {
    height: 400px;
  }
}
