@import '@variables';

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  cursor: pointer;
}

.tileContainer {
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.tile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  position: relative;
  &:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: $mobile) {
  .tileContainer {
    height: 200px;
  }
}
