@import '@mixins';

/* Start of React Masonry CSS */

// https://github.com/paulcollett/react-masonry-css
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
/* End of React Masonry CSS */

.faqWrapper {
  @include wrapper;
  .heading {
    color: $darkGreen;
    margin-bottom: 25px;
  }
}

.question {
  color: $mediumGreen;
  font-size: 20px;
}

.answer {
  font-size: 14px;
}

.sunIcon,
.questionContainer {
  padding: 0 30px 30px 0;
}

.link {
  color: black;
  &:active {
    color: black;
  }
}

.faqList {
  margin-bottom: 10px;
  li {
    position: relative;
    padding-left: 10px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: black;
    }
  }
}
