@import '@colors';
@import '@mixins';

.faqWrapper {
  @include wrapper;
  .heading {
    color: $darkGreen;
    margin-bottom: 25px;
  }
}

.question {
  color: $mediumGreen;
  font-size: 20px;
}

.answer {
  font-size: 14px;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 2750px;
  @media screen and (max-width: 1280px) {
    max-height: 3000px;
  }
  @media screen and (max-width: 1150px) {
    max-height: 3400px;
  }
  @media screen and (max-width: 1075px) {
    max-height: 3800px;
  }
  @media screen and (max-width: 1075px) {
    max-height: 4100px;
  }
  @media screen and (max-width: $mobile) {
    max-height: none;
  }
}

.sunIcon,
.questionContainer {
  width: 33%;
  padding: 0 30px 30px 0;
}

.link {
  color: black;
  &:active {
    color: black;
  }
}

.committeeHeading {
  text-transform: uppercase;
  margin: 15px 0 5px;
  font-size: 14px;
}

.committeeMembers {
  font-size: 14px;
  margin: 0;
  line-height: 1.2;
}

.name {
  width: 100px;
}

.faqList {
  margin-bottom: 10px;
  li {
    position: relative;
    padding-left: 10px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: black;
    }
  }
}

@media screen and (max-width: $tablet) {
  .sunIcon,
  .questionContainer {
    width: 50%;
  }
}

@media screen and (max-width: $mobile) {
  .sunIcon,
  .questionContainer {
    width: 100%;
  }
  .name {
    width: 60px;
  }
}
