@import '@colors';
@import '@mixins';

.faqWrapper {
  @include wrapper;
  .heading {
    color: $darkGreen;
    margin-bottom: 25px;
  }
}

.question {
  color: $mediumGreen;
  font-size: 20px;
}

.answer {
  font-size: 14px;
}

.faqContainer {
  display: flex;
  flex-wrap: wrap;
}

.sunIcon,
.questionContainer {
  width: 33%;
  padding: 0 30px 30px 0;
}

.link {
  color: black;
  &:active {
    color: black;
  }
}

.committeeHeading {
  text-transform: uppercase;
  margin: 15px 0 5px;
  font-size: 14px;
}

.committeeMembers {
  font-size: 14px;
  margin: 0;
  line-height: 1.2;
}

.name {
  width: 100px;
}

@media screen and (max-width: $tablet) {
  .sunIcon,
  .questionContainer {
    width: 50%;
  }
}

@media screen and (max-width: $mobile) {
  .sunIcon,
  .questionContainer {
    width: 100%;
  }
}
