@import '@variables';

.faqWrapper {
  @include wrapper;
  .heading {
    color: $darkGreen;
    margin-bottom: 25px;
  }
  text-align: center;
}

.otherQuestionsHeading {
  margin: 80px 0 10px;
  font-family: $fontSecondary;
  font-size: 30px;
  color: $darkGreen;
}

.otherQuestionsText {
  font-family: $fontSecondaryLight;
  font-size: 20px;
  color: $darkGreen;
  margin-bottom: 50px;
}

@media screen and (max-width: $mobile) {
  .otherQuestionsHeading {
    font-size: 22px;
  }
  .otherQuestionsText {
    font-size: 18px;
  }
}
