@import '@variables';

.button {
  background-color: $darkGreen;
  color: $white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-family: 'Neue Haas Regular';
  font-size: 16px;
  border-radius: 10px;
  min-width: 100px;
  cursor: pointer;
  .spinnerIcon {
    animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  &.darkBeige {
    background-color: $darkBeige;
    color: $black;
  }
}

.small {
  padding: 5px 10px 7px;
  min-width: 80px;
  font-size: 16px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
