@import '@variables';

.categoryLinks {
  margin: 40px 0;
}

.categoryLink {
  color: $darkGreen;
  font-family: $fontSecondaryLight;
  font-size: 17px;
  .border {
    padding: 0 10px;
  }
}

@media screen and (max-width: $tablet) {
  .categoryLinks {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .categoryLink {
    font-size: 15px;
  }
}
