@import '@variables';

.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineupHeading {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}

.sun {
  width: 40px;
  height: auto;
  margin: 0 30px;
  position: relative;
  top: -8px;
}

.comingSoon {
  font-size: 16px;
  text-align: center;
}

.paragraph {
  text-align: center;
}

.tilesContainer {
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 200px;
    width: 1px;
    background-color: black;
    margin: 50px auto;
  }
}

.imageTileBack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  background-color: $darkGreen;
  height: 100%;
  p {
    margin-bottom: 7px;
  }
}

.pastLineups {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1280px;
  margin: 0 auto;
  gap: 20px;
}

.lineupGraphic {
  height: 100%;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
  }
}

.modalLineupGraphic {
  width: 700px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
  }
  .pastLineups {
    display: block;
    padding: 0 15px;
  }
  .lineupGraphic {
    margin-bottom: 25px;
  }
  .modalLineupGraphic {
    width: 100%;
    height: auto;
  }
}
