@import '@variables';

.outerContainer {
  position: relative;
  z-index: 100;
}

@media screen and (max-width: $tablet) {
  .outerContainer {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: $mobile) {
  .outerContainer {
    height: 750px;
  }
}
