@import '@variables';

.videoContainer {
  position: relative;
  overflow: hidden;
  height: 570px;
}

.video {
  width: 100%;
  position: relative;
  top: -100px;
}

.videoOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  // Height comes from JS
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 6;
  height: 100%;
}

.logo {
  width: 600px;
  border-radius: 4px;
  padding: 10px;
  width: 70%;
  // margin-top: 75px;
}

.thankYou {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 6;
  height: 100%;
  color: white;
}

.thankYouLogo {
  width: 600px;
  margin-bottom: 70px;
}

.thankYouHeading {
  font-size: 28px;
  font-family: $fontPrimary;
  margin-top: 8px;
}

.thankYouText {
  font-size: 22px;
  font-family: $fontPrimary;
  margin: 15px 0 0;
}

.thankYouTextDate {
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .videoContainer {
    height: 460px;
  }
}
@media screen and (max-width: $tablet) {
  .videoContainer {
    height: 350px;
  }
}
@media screen and (max-width: $mobile) {
  .videoContainer {
    height: 300px;
    overflow: visible;
  }
  .imageContainer {
    // padding-top: 250px;
    padding-top: 130px;
    justify-content: flex-start;
  }
  .logo {
    width: 90%;
    margin-top: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: $mobile) {
  .imageContainer {
    position: static;
    padding-top: 100px;
  }
  .logo {
    width: 50%;
  }
}
