@import '@vars';
@import '@mixins';

.lineupContainer {
  position: relative;
  @include wrapper;
  &::after {
    content: '';
    display: block;
    height: 200px;
    width: 1px;
    background-color: black;
    margin: 50px auto;
  }
}
.lineupBanner {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .lineupContainer {
    width: 100%;
    padding: 0;
  }
}
