@import '@variables';

body {
  background-color: $yellow;
}

.heading {
  font-family: 'Tan Aesop';
  color: $darkGreen;
  font-size: 40px;
  margin: 20px 0 10px;
  @media (max-width: $tablet) {
    font-size: 30px;
  }
  @media (max-width: $mobile) {
    font-size: 24px;
  }
}
