@font-face {
  font-family: 'Tan Aesop';
  src: url('../fonts/TAN-AESOP/TAN-AESOP.ttf');
}

@font-face {
  font-family: 'Neue Haas Light';
  src: url('../fonts/Neue Haas/NeueHaasUnicaPro-Light.ttf');
}

@font-face {
  font-family: 'Neue Haas Bold';
  src: url('../fonts/Neue Haas/NeueHaasUnicaPro-Bold.ttf');
}
