@font-face {
  font-family: 'Tan Aesop';
  src: url('../fonts/TAN-AESOP/TAN-AESOP.ttf');
}

@font-face {
  font-family: 'Neue Haas Light';
  src: url('../fonts/Neue Haas/NeueHaasUnicaPro-Light.ttf');
}

@font-face {
  font-family: 'Neue Haas Bold';
  src: url('../fonts/Neue Haas/NeueHaasUnicaPro-Bold.ttf');
}

@font-face {
  font-family: 'Neue Haas Regular';
  src: url('../fonts/Neue Haas/NeueHaasUnicaPro-Regular.ttf');
}

@font-face {
  font-family: 'Neue Haas Medium';
  src: url('../fonts/Neue Haas/NeueHaasUnicaPro-Medium.ttf');
}

@font-face {
  font-family: 'Neue Haas Bold';
  src: url('../fonts/Neue Haas/NeueHaasUnicaPro-Bold.ttf');
}

@font-face {
  font-family: 'Neue Haas Heavy';
  src: url('../fonts/Neue Haas/NeueHaasUnicaPro-Heavy.ttf');
}

.bodyCopy {
  font-family: 'Neue Haas Light', 'Arial', sans-serif;
  &Bold {
    font-family: 'Neue Haas Bold', 'Arial', sans-serif;
  }
  &Medium {
    font-family: 'Neue Haas Medium', 'Arial', sans-serif;
  }
}

.subheading {
  font-family: 'Neue Haas Regular', 'Arial', sans-serif;
  letter-spacing: 1.5px;
  &Bold {
    letter-spacing: 2px;
    font-family: 'Neue Haas Bold', 'Arial', sans-serif;
  }
  &Heavy {
    letter-spacing: 2px;
    font-family: 'Neue Haas Heavy', 'Arial', sans-serif;
  }
}
