@import './fonts.scss';
@import './colors.scss';

body {
  margin: 0;
  height: 100vh;
  background-color: $yellow;
}

.row {
  display: flex;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
