@import '@variables';

.headlineRow {
  margin-bottom: 20px;
  color: $darkGreen;
  z-index: 1000;
  position: relative;
  @media screen and (max-width: $mobile) {
    padding: 0 25px;
  }
}

.headlineSun {
  margin: 0 50px;
  width: 80px;
  height: 80px;
}
