@import '@variables';

.h1 {
  // Want to have the h1 for SEO,  but don't want to show it since its included in the logo
  display: none;
}

.homePageContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .mainContent {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: $mobile) {
  .homePageContainer {
    background-image: url('https://highlands-music-festival.s3.ca-central-1.amazonaws.com/gallery-the-setting-1+(1).jpg');
    background-position: -645px 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
  }
}

@media screen and (orientation: landscape) and (max-width: $mobile) {
  .homePageContainer {
    background-position: initial;
    overflow: visible;
    height: 100%;
    padding-bottom: 25px;
  }
}
