@import '@variables';

.imageContainer {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  img {
    width: 100%;
  }
}

.activitiesWrapper {
  @include wrapper;
  padding-top: 25px;
  position: relative;

  .activitiesContainer {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet) {
    .heading {
      margin-top: 50px;
    }
  }
}

.imageTiles {
  margin: 0 0 0 -10px;
  padding: 0;
  @include wrapper;
}
