@import '@variables';

.imageContainer {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  img {
    width: 100%;
  }
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.bodyCopyMedium {
  font-size: 18px;
}

.activitiesWrapper {
  @include wrapper;
  padding-top: 25px;
  position: relative;
  text-align: center;

  .activitiesContainer {
    font-size: 24px;
    margin-bottom: 20px;
  }

  @media (max-width: $tablet) {
    .heading {
      margin-top: 50px;
    }
  }
}

.imageTiles {
  margin: 0 auto;
  padding: 0;
  @include wrapper;
}
