@import '@variables';

.hammocksContainer {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activitiesWrapper {
  @include wrapper;
  padding-top: 25px;
  position: relative;

  .activitiesContainer {
    display: flex;
  }

  .activitiesSun {
    position: absolute;
    width: 150px;
    top: 20px;
    right: 100px;
    animation: spin 3s;
  }

  .activitiesCol {
    width: 50%;
    font-size: 24px;
    &1 {
      padding-right: 50px;
    }
    &2 {
      position: relative;
    }
    .activity {
      margin: 10px 0;
    }
  }

  @media (max-width: $tablet) {
    .activitiesCol {
      font-size: 16px;
    }
    .heading {
      margin-top: 50px;
    }
    .activitiesSun {
      width: 80px;
    }
  }
  @media (max-width: $mobile) {
    .activitiesContainer {
      flex-direction: column;
    }
    .activitiesCol {
      width: 100%;
      padding-right: 0;
      &1 {
        margin: 10px 0;
      }
    }
  }
}
