@import '@vars';

.widgetWrapper {
  width: 800px;
  margin: 0 auto;
  @media screen and (max-width: $mobile) {
    width: 90%;
    margin: 100px 25px;
  }
}

.widget {
  position: relative;
  z-index: 5;
}
