@import '@variables';

.announcement {
  animation: fadeOut 0.5s 10s forwards; // fade out after all animations have completed
  position: relative;
  z-index: 100;
}

.headlinerAnnouncementContainer {
  opacity: 0;
  animation: fadeIn 1s forwards;
  z-index: 100;
  text-align: center;
  background-color: $darkGreen;
  color: $beige;
  padding: 40px 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(10px);
}
.lineOne {
  text-transform: uppercase;
  font-family: $fontSecondaryBold;
  font-size: 36px;
  transform: scale(3);
  animation: fadeIn 1s forwards ease-in;
  opacity: 0;
  margin-bottom: 50px;
}

.artist {
  font-family: $fontPrimary;
  font-size: 55px;
  color: $darkYellow;
  text-align: center;
  margin: 15px auto;
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    margin-right: 15px;
    animation: fadeIn 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
    &.lastWord {
      margin-right: 0;
    }
  }
}

.artist1 span {
  animation-delay: 2s;
}
.artistAnd1 span {
  animation-delay: 3s;
  font-size: 30px;
  margin: 0;
}

.artist2 span {
  animation-delay: 5s;
}

.artistAnd2 span {
  animation-delay: 6s;
  font-size: 30px;
  margin: 0;
}

.artist3 span {
  animation-delay: 8s;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: $mobile) {
  .headlinerAnnouncementContainer {
    padding: 0 20px;
  }
  .lineOne {
    font-size: 18px;
  }
  .artist {
    margin: 0;
    span {
      font-size: 25px;
    }
  }
}
