@import '@colors';
@import '@vars';

.h1 {
  // Want to have the h1 for SEO,  but don't want to show it since its included in the logo
  display: none;
}

.mainContentContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-top: 50px;
  align-items: center;
}

.logo {
  width: 500px;
  position: absolute;
  top: 100px;
  left: 50px;
  bottom: 200px;
  z-index: 1;
}

.videoContainer {
  position: relative;
  bottom: -10px;
  right: 0px;
  height: 73vh;
  overflow: hidden;
  color: white;
}

.video {
  height: 115%;
  width: 100%;
  position: relative;
  top: -50px;
  left: 0;
}

.date {
  position: absolute;
  top: 25px;
  z-index: 5;
  right: 25px;
  font-family: 'Neue Haas Bold';
  color: $darkGreen;
  text-transform: uppercase;
}

.ticketsAvailable {
  font-family: 'Neue Haas Light';
  text-transform: uppercase;
  position: absolute;
  bottom: 8px;
  left: 20px;
}

.buyNowButton {
  background-color: $darkGreen;
  font-family: 'Neue Haas Bold';
  letter-spacing: 3px;
  color: $white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 28px;
  &:visited {
    color: white;
  }
  &:hover {
    background-color: white;
    color: $darkGreen;
  }
  transition: 0.2s;
}

.fa-brands {
  width: 100px;
}

@media screen and (max-width: $mobile) {
  .mainContentContainer {
    display: block;
  }
  .logo {
    position: static;
    width: 90%;
    margin: 150px auto 0;
  }
  .date {
    position: static;
    text-align: center;
    margin-top: 30px;
  }
  .videoContainer {
    width: 100%;
  }
  .video {
    height: 400px;
    position: static;
    width: auto;
    margin-top: 50px;
  }

  .buyNowButton {
    position: relative;
    left: 50%;
    transform: translateX(50%);
  }
}
