@import '@variables';

.buyTickets {
  display: flex;
  justify-content: center;
}

.announcement {
  background-color: $darkGreen;
  color: $beige;
  @include wrapper;
  font-family: $fontSecondaryLight;
  margin-bottom: 50px;
  p {
    padding: 15px 0;
  }
  .aboutText {
    padding-bottom: 0;
    font-family: $fontSecondary;
  }
  a,
  a:active {
    color: $beige;
    text-decoration: underline;
  }
}

@media screen and (max-width: $mobile) {
  .buyTickets {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
}
