@import '@variables';

.videoContainer {
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
  position: relative;
}

@media screen and (max-width: $tablet) {
  .videoContainer {
    display: flex;
    flex-direction: column;
  }
}
