@import '@variables';

.container {
  margin-top: 50px;
}
.dropdown {
  z-index: 1000;
  display: flex;
  margin: 10px auto 0;
  width: 70%;
}

.heading {
  font-family: $fontPrimary;
  text-align: center;
  font-size: 28px;
}
