@import '@variables';

.contactInformation {
  margin-bottom: 20px;
  font-family: 'Neue Haas Regular';
}

.nameContainer {
  display: flex;
  width: 100%;
}

.firstName {
  margin-right: 5px;
}

.lastName {
  margin-left: 5px;
}

.firstName,
.lastName {
  margin-bottom: 10px;
}

.checkboxContainer {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.businessInput {
  margin-top: 15px;
  margin-bottom: 10px;
}

.checkboxLabel {
  font-family: 'Neue Haas Regular';
  color: $darkGreen;
  margin-left: 10px;
}

.checkbox {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 0;
}
