@import '@variables';

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button {
  background: none;
  font-family: $fontSecondaryLight;
  color: $darkGreen;
  font-size: 16px;
  border: none;
  margin: 0 10px;
  padding: 7px 5px 3px;
  svg {
    color: $darkGreen;
  }
}

.active {
  font-family: $fontSecondaryBold;
}
