@import '@variables';

.icon {
  box-sizing: initial;
  width: 25px;
  font-size: 25px;
  background-color: $darkGreen;
  color: $yellow;
  text-align: center;
  margin-bottom: 8px;
  padding: 6px 6px 4px 6px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $yellow;
    color: $darkGreen;
  }
}

.closeButton {
  background-color: $beige;
  border: none;
  color: $darkGreen;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 10001;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: $darkGreen;
    color: $beige;
    transition: 0.3s;
  }
  &.darkButton {
    background-color: rgba(0, 0, 0, 0);
    color: $beige;
    padding: 0;
    border-radius: 50%;
    &:hover {
      background-color: $beige;
      color: $darkGreen;
      transition: 0.3s;
    }
  }
}
