@import '@variables';

.announcementContainer {
  background-color: $darkGreen;
  text-align: center;
  padding: 35px 0;
  color: $beige;
  font-family: $fontSecondary;
  margin-bottom: 50px;
}

.headliner {
  font-family: $fontPrimary;
  color: $darkYellow;
  font-size: 40px;
}

.justAnnounced {
  margin-bottom: 40px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.headlinersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.and {
  margin: 0 30px;
}

@media screen and (max-width: $mobile) {
  .announcementContainer {
    margin-top: 80px;
  }
  .headliner {
    font-size: 18px;
    width: 90px;
  }
  .justAnnounced {
    font-size: 18px;
  }
  .and {
    margin: 0 10px;
  }
}
