@import '@variables';
.container {
  margin-top: auto;
  font-family: $fontSecondaryLight;
  text-align: center;
  a:visited {
    color: black;
  }
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: $mobile) {
  .container {
    background-color: #fafafa;
    padding: 100px 0 20px;
  }
}
