.emailCaptureTakeover {
  .textContainer {
    margin-bottom: 30px;
  }

  .lineOne {
    font-size: 20px;
    margin: 15px 0;
    font-family: 'Tan Aesop', 'Arial', sans-serif;
  }
  .lineTwo {
    font-size: 16px;
    margin: 30px 0 10px;
  }
}

button.takeoverSubmitButton {
  background-color: $darkGreen;
  color: $beige;
}
