.locationAccommodationWrapper {
  margin: 0 150px;
}

.locationAccommodationHeading {
  justify-content: space-between;
}

.location {
  width: 40%;
}

.accommodation {
  width: 60%;
}

.locationLineOne {
  max-width: 280px;
  margin: 20px auto;
}

.locationAddress {
  max-width: 200px;
  margin: 0 auto;
}

.packingContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  flex-wrap: wrap;
}

.packingListItem {
  margin: 8px;
}
