@import '@vars';

.locationAccommodationWrapper {
  margin: 0 150px;
  .heading {
    font-size: 37px;
  }
}

.locationAccommodationHeading {
  justify-content: space-between;
}

.location,
.packingContainerLineOne {
  width: 40%;
  padding-right: 80px;
}

.accommodation,
.packingContainerLineTwo {
  width: 60%;
}

.locationLineOne {
  max-width: 310px;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 18px;
}

.locationAddress {
  font-size: 14px;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.packingContainerLineOne {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 140px;
    height: 1px;
    background-color: black;
    position: absolute;
    right: 50px;
    top: 60px;
  }
}

.packingContainerLineTwo {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  flex-wrap: wrap;
  li {
    margin-right: 25px;
  }
}

.packingListItem {
  margin-bottom: 8px;
}

#map,
.locationAccommodationWrapper .imageContainer {
  height: 300px;
  width: 100%;
  margin: 20px 0 30px;
}

.locationAccommodationWrapper .imageContainer {
  background-image: url('https://highlands-music-festival.s3.ca-central-1.amazonaws.com/gallery-the-setting-6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.locationLineOne,
.accommodationLineOne {
  margin-top: 20px;
  a {
    color: black;
    text-decoration: underline;
  }
}

.accommodationLineOne {
  margin-bottom: 20px;
}

.col1Par3 {
  font-size: 24px;
}

.packingContainerLineOne,
.packingContainerLineTwo {
  margin-top: 80px;
}

@media (max-width: $tablet) {
  .locationAccommodationWrapper {
    margin: 0 50px;
  }
  .packingContainerLineOne {
    position: relative;
    margin: 40px 0 0;
    &::after {
      content: '';
      display: block;
      width: 90px;
      height: 1px;
      background-color: black;
      position: absolute;
      right: 50px;
      top: 60px;
    }
  }
}

@media (max-width: $mobile) {
  .locationAccommodationWrapper {
    margin: 0 25px;
    .heading {
      margin: 0 0 5px 0;
      font-size: 27px;
    }
    .row {
      flex-direction: column;
    }
    .locationAccommodationWrapper .imageContainer {
      width: 100%;
    }
    .location,
    .accommodation,
    .packingContainerLineOne {
      width: 100%;
      padding: 0;
    }
    .packingContainerLineOne {
      position: relative;
      margin: 40px 0 0;
      &::before,
      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 140px;
        background-color: black;
        position: relative;
        left: 50%;
        right: 0;
      }
      &::before {
        top: -20px;
        height: 70px;
      }
      &::after {
        top: 20px;
      }
    }
    .packingContainerLineTwo {
      flex-wrap: nowrap;
      margin-top: 70px;
      max-height: none;
      width: 100%;
    }
  }
  .locationLineOne {
    text-align: left;
    margin: 0 0 10px 0;
  }
  .locationAddress {
    text-align: left;
    margin: 0;
  }
}
