.bodyCopy {
  font-family: 'Neue Haas Light', 'Arial', sans-serif;
}
.bodyCopyBold {
  font-family: 'Neue Haas Bold', 'Arial', sans-serif;
}
.bodyCopyMedium {
  font-family: 'Neue Haas Medium', 'Arial', sans-serif;
}

.subheading {
  font-family: 'Neue Haas Regular', 'Arial', sans-serif;
  letter-spacing: 1.5px;
}
.subHeadingBold {
  letter-spacing: 2px;
  font-family: 'Neue Haas Bold', 'Arial', sans-serif;
}
.subHeadingHeavy {
  letter-spacing: 2px;
  font-family: 'Neue Haas Heavy', 'Arial', sans-serif;
}
