$darkGreen: #33421b;
$white: #fff;
$yellow: #f1ead7;
$beige: #f1ead7;
$mediumGreen: #83885c;

$tablet: 1000px;
$mobile: 850px;

@mixin wrapper {
  padding: 0 100px;
  @media screen and (max-width: $tablet) {
    padding: 0 50px;
  }
  @media screen and (max-width: $mobile) {
    padding: 0 25px;
  }
}

.heading {
  font-family: 'Tan Aesop';
  color: $darkGreen;
  font-size: 40px;
  margin: 20px 0 10px;
  @media (max-width: $tablet) {
    font-size: 30px;
  }
  @media (max-width: $mobile) {
    font-size: 24px;
  }
}

.bodyCopy {
  font-family: 'Neue Haas Light', 'Arial', sans-serif;
}
.bodyCopyBold {
  font-family: 'Neue Haas Bold', 'Arial', sans-serif;
}
.bodyCopyMedium {
  font-family: 'Neue Haas Medium', 'Arial', sans-serif;
}

.subheading {
  font-family: 'Neue Haas Regular', 'Arial', sans-serif;
  letter-spacing: 1.5px;
}
.subHeadingBold {
  letter-spacing: 2px;
  font-family: 'Neue Haas Bold', 'Arial', sans-serif;
}
.subHeadingHeavy {
  letter-spacing: 2px;
  font-family: 'Neue Haas Heavy', 'Arial', sans-serif;
}
